<div class="staff__body">
    <div class="staff">
        <form class="staff__form" method="post">
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-name" class="staff__label">Tên nhân viên: </label>
                    <input type="text" name="staff-name" id="staff-name" class="staff__input" placeholder="Nhập tên nhân viên...">
                </div>
                <div class="staff__form-group">
                    <label for="staff-gender" class="staff__label">Giới tính: </label>
                    <select name="staff-gender" id="staff-gender" class="staff__select">
                        <option value="" disabled selected> Chọn giới tính </option>
                        <option value="0"> Nữ </option>
                        <option value="1"> Nam </option>
                        <option value="-1"> Khác </option>
                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-phone" class="staff__label">Số điện thoại: </label>
                    <input type="tel" name="staff-phone" id="staff-phone" class="staff__input"
                        placeholder="Nhập số điện thoại...">
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-email" class="staff__label">Email: </label>
                    <input type="email" name="staff-email" id="staff-email" class="staff__input" placeholder="Nhập email...">
                </div>
                <div class="staff__form-group">
                    <label for="staff-password" class="staff__label">Mật khẩu: </label>
                    <input type="password" name="staff-password" id="staff-password" class="staff__input" placeholder="Nhập mật khẩu...">
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-province" class="staff__label">Tỉnh: </label>
                    <select name="staff-province" id="staff-province" class="staff__select">
                        <option value="" data-id="" disabled selected>Chọn tỉnh</option>

                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-district" class="staff__label">Huyện: </label>
                    <select name="staff-district" id="staff-district" class="staff__select">
                        <option value="" data-id="" disabled selected> Chọn quận/huyện </option>
                    </select>
                </div>
            </div>
            <div class="staff__flex-group">
                <div class="staff__form-group">
                    <label for="staff-ward" class="staff__label">Xã: </label>
                    <select name="staff-ward" id="staff-ward" class="staff__select">
                        <option value="" data-id="" disabled selected>Chọn phường/xã </option>
                    </select>
                </div>
                <div class="staff__form-group">
                    <label for="staff-street" class="staff__label">Đường: </label>
                    <input type="text" name="staff-street" id="staff-street" class="staff__input" placeholder="Nhập đường...">
                </div>
            </div>
            <div class="staff__form-group tour__form-group--submit">
                <button type="submit" class="staff__submit-button">
                    <i class="material-icons">save</i>
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>