@import "material-icons.css";

:root {
    /* primary */
    --primary1: #087264;
    --primary2: #058C7F;
    --priamry3: #4BC3B2;
    --primary4: #F1B544;
    --primary5: #4285F4;

    /* basic */
    --white: #fff;
    --black: #000;
    --red: #f00;

    /* background */
    --background1: #f1f1f1;

    /* outline */
    --outline1: #EBEBF0;
    --outline2: #FF4343;
    --outline3: #EAEAEA;

    /* reset bootstrap variables */
    --bs-body-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bs-body-bg: var(--background1);

    /* black */
    --black1: rgba(0, 0, 0, 0.2);
}