<footer class="footer">
  <div class="footer-container">
    <div class="footer__div">
      <img class="footer__logo" src="/imgs/logo-round.webp" alt="2Tour. Book A Tour. Pour A Joy!">
    </div>
    <div class="footer__div">
      <h5 class="footer__title">VỀ 2TOUR.</h5>
      <a class="footer__link" href="#">Giới thiệu về 2Tour.</a>
      <a class="footer__link" href="#">Điều khoản chung</a>
      <a class="footer__link" href="#">Chính sách bảo mật</a>
    </div>
    <div class="footer__div">
      <h5 class="footer__title">HỖ TRỢ</h5>
      <a class="footer__link" href="#">Trung tâm trợ giúp</a>
      <a class="footer__link" href="#">Các câu hỏi thường gặp</a>
      <a class="footer__link" href="#">Chính sách bảo hiểm</a>
    </div>
    <div class="footer__div">
      <h5 class="footer__title">LIÊN HỆ</h5>
      <a class="footer__link" href="https://maps.app.goo.gl/GJxT2k5J4wjYotZY9" target="_blank">
        <span class="material-icons-round footer__icon">
          location_on
        </span>
        <span>Linh Trung, Thủ Đức, Hồ Chí Minh</span>
      </a>
      <a class="footer__link" href="tel:19001909203">
        <span class="material-icons-round footer__icon">
          call
        </span>
        <span>1900 1909 203</span>
      </a>
      <a class="footer__link" href="mailto:twotour.contact@gmail.com">
        <span class="material-icons-round footer__icon">
          mail
        </span>
        <span>twotour.contact@gmail.com</span>
      </a>
    </div>
  </div>
  <div class="footer__license">2024. Bản quyền thuộc về đội ngũ 2Tour.</div>
</footer>