<header class="header">
  <div class="header-container">
    <a class="header__left-div" href="/">
      <img class="header__logo" src="/imgs/logo.webp" alt="2Tour - Hệ thống đặt Tour">
    </a>
    <div class="header__right-div">
      <a class="header__language header__link" href="#">
        <img class="header__language-img" src="/imgs/home/vietnam-flag.webp" alt="Tiếng Việt">
        <span class="header__language-text">VN | VND</span>
        <span class="material-icons-round header__language-icon">
          expand_more
        </span>
      </a>
      <a class="header__link" href="#">
        <span>
          Hỗ trợ
        </span>
      </a>
      <a class="header__link" href="#">
        <span>
          Liên hệ hợp tác
        </span>
      </a>
      <a class="header__link" href="#">
        <span>
          Về chúng tôi
        </span>
      </a>
      <a class="header__link" href="/login">
        <button class="header__login-btn header__btn" type="button" class="btn">Đăng nhập</button>
      </a>
      <a class="header__link" href="/signup">
        <button class="header__signup-btn header__btn" type="button" class="btn">Đăng ký</button>
      </a>
    </div>
  </div>
</header>