<div class="search">
    <img class="search__image" src="/imgs/home/search-background.webp" alt="Đà Lạt">
    <div class="search__main-container">
        <h2 class="search__search-title">Hàng nghìn Tour đang chờ đòn bạn!</h2>
        <div class="search__search-box search-box">
            <div class="search-box__search-category">
                <button class="btn search-box__search-category-btn" type="button">
                    <span class="material-icons-round search-box__search-category-homestay">
                        spa
                    </span>
                    <span>Khách sạn nghỉ dưỡng</span>
                </button>
                <button class="btn search-box__search-category-btn" type="button">
                    <span class="material-icons-round search-box__search-category-camp">
                        local_fire_department
                    </span>
                    <span>Khu cắm trại</span>
                </button>
                <button class="btn search-box__search-category-btn" type="button">
                    <span class="material-icons-round search-box__search-category-park">
                        nature
                    </span>
                    <span>Công viên sinh thái</span>
                </button>
                <button class="btn search-box__search-category-btn" type="button">
                    <span class="material-icons-round search-box__search-category-spot">
                        local_florist
                    </span>
                    <span>Thắng cảnh</span>
                </button>
                <button class="btn search-box__search-category-btn" type="button">
                    <span class="material-icons-round search-box__search-category-attract">
                        tour
                    </span>
                    <span>Điểm hấp dẫn</span>
                </button>
            </div>
            <div class="search-box__container">
                <div class="search-box__search search-box__input-field">
                    <span class="material-icons-round search-box__input-field-icon">
                        search
                    </span>
                    <input class="search-box__search-input" type="text" placeholder="Chọn địa điểm">
                </div>
                <div class="search-box__date-container">
                    <div class="search-box__input-field search-box__date-input">
                        <span class="material-icons-round search-box__input-field-icon">
                            date_range
                        </span>
                        <span class="search-box__input-text">22 Apr 2024</span>
                    </div>
                    <div class="search-box__input-field search-box__date-input">
                        <span class="material-icons-round search-box__input-field-icon">
                            event
                        </span>
                        <span class="search-box__input-text">23 Apr 2024</span>
                    </div>
                </div>
            </div>
            <button type="button" class="search-box__search-btn">
                Tìm kiếm
            </button>
        </div>
    </div>
</div>