<div class="toursMapSideBar">
  <div class="toursMapSideBar-Btn"></div>
  <div class="toursMapSideBar-List_container">
    <button class="toursMenuBtn btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        <span  id="toursMenuBtn" class="material-icons-outlined">
        <span id="toursMenuIcon" class="material-icons-outlined">
        navigate_next
        </span>
        </span>
    </button>
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div  class="card card-body" style="width: 300px;">
        <h4 class="toursMapSideBarTitle">Danh sách tour</h4>
        <div id="toursMapSideBar-List" class="list-group">
          
        </div>
      </div>
  </div>
  </div>
</div>