<body class="tour-popup__body">
    <div class="tour-popup">
        <form class="tour-popup__form" method="post">
            <div class="tour-popup__form-group">
                <label for="tour-popup-name" class="tour-popup__label">Tên Tour</label>
                <input type="text" id="tour-popup-name" class="tour-popup__input" placeholder="Nhập tên Tour..." value="Tour Đà Lạt hè 2024">
            </div>
            <div class="tour-popup__flex-group">
              <div class="tour-popup__form-group">
                  <label for="tour-popup-price" class="tour-popup__label">Giá vé</label>
                  <input type="text" id="tour-popup-price" class="tour-popup__input" placeholder="Nhập số tiền..." value="2.000.000đ">
              </div>
              <div class="tour-popup__form-group">
                  <label for="tour-popup-total-tickets" class="tour-popup__label">Tổng số vé</label>
                  <input type="number" id="tour-popup-total-tickets" class="tour-popup__input" value="100">
              </div>
              <div class="tour-popup__form-group">
                  <label for="tour-popup-available-tickets" class="tour-popup__label">Số vé còn trống</label>
                  <input type="number" id="tour-popup-available-tickets" class="tour-popup__input" value="20">
              </div>              
            </div>
            <div class="tour-popup__flex-group">
              <div class="tour-popup__form-group">
                  <label for="tour-popup-start-date" class="tour-popup__label">Ngày khởi hành</label>
                  <input type="date" id="tour-popup-start-date" class="tour-popup__input" value="2024-06-28">
              </div>
              <div class="tour-popup__form-group">
                  <label for="tour-popup-days" class="tour-popup__label">Ngày / Đêm</label>
                  <input type="text" id="tour-popup-days" class="tour-popup__input" placeholder="N/Đ" value="3/2">
              </div>
            </div>
            <div class="tour-popup__form-group">
                <label for="" class="tour-popup__label">Điểm đến</label>
                <div class="tour-popup__tab-group">
                    <div class="tour-popup__location-tabs" id="tour-popup__current-locations">
                        <p class="tour-popup__button tour-popup__tab">Hồ Xuân Hương
                            <button type="button" class="tour-popup__remove-button">
                                <i class="material-icons tour-popup__hidden-tab">close</i>
                            </button>
                        </p>
                        <p class="tour-popup__button tour-popup__tab">Quảng trường
                            <button type="button" class="tour-popup__remove-button">
                                <i class="material-icons tour-popup__hidden-tab">close</i>
                            </button>
                        </p>
                        <p class="tour-popup__button tour-popup__tab">Thác LangBiang
                            <button type="button" class="tour-popup__remove-button">
                                <i class="material-icons tour-popup__hidden-tab">close</i>
                            </button>
                        </p>
                    </div>
                    <div class="tour-popup__button-area-div">
                        <button type="button" class="tour-popup__button" id="addLocationButton">Thêm điểm đến +</button>
                        <div class="tour-popup__all-location-div" id="allLocationDiv">
                            <i class="material-icons tour-popup__hidden-div" id="hideLocationDiv">close</i>
                            <div class="tour-popup__all-location-ul">
                                <p class="tour-popup__location">
                                    Ba Đình
                                </p>
                                <p class="tour-popup__location">
                                    Hồ Chí Minh
                                </p>
                                <p class="tour-popup__location">
                                    Bà Rịa
                                </p>
                                <p class="tour-popup__location">
                                    Vịnh Hạ Long
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tour-popup__form-group">
                <label for="" class="tour-popup__label">Danh mục</label>
                <div class="tour-popup__tab-group">
                    <div class="tour-popup__area-tabs" id="tour-popup__current-areas">
                        <p class="tour-popup__button tour-popup__tab">Đà Lạt
                            <button type="button" class="tour-popup__remove-button">
                                <i class="material-icons tour-popup__hidden-tab">close</i>
                            </button>
                        </p>
                        <p class="tour-popup__button tour-popup__tab">Tây Nguyên
                            <button type="button" class="tour-popup__remove-button">
                                <i class="material-icons tour-popup__hidden-tab">close</i>
                            </button>
                        </p>
                    </div>
                    <div class="tour-popup__button-area-div">
                        <button type="button" class="tour-popup__button"  id="addAreaButton">Thêm danh mục +</button>
                        <div class="tour-popup__all-area-div" id="allAreaDiv">
                            <i class="material-icons tour-popup__hidden-div" id="hideAreaDiv">close</i>
                            <div class="tour-popup__all-area-ul">
                                <p class="tour-popup__area">
                                    Ba Đình
                                </p>
                                <p class="tour-popup__area">
                                    Hồ Chí Minh
                                </p>
                                <p class="tour-popup__area">
                                    Bà Rịa
                                </p>
                                <p class="tour-popup__area">
                                    Vịnh Hạ Long
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tour-popup__form-group tour__form-group--image">
                <label class="tour-popup__label">Hình ảnh</label>
                <div class="tour-popup__image-group">
                    <div class="tour-popup__all-image-div">
                        <div class="tour-popup__image-button tour-popup__image">
                            <img src="/imgs/admin/navbarbackground.png" alt="Hình ảnh" class="tour-popup__image-placeholder">
                        </div>
                        <div class="tour-popup__image-button tour-popup__image">
                            <img src="/imgs/admin/navbarbackground.png" alt="Hình ảnh" class="tour-popup__image-placeholder">
                        </div>
                        <div class="tour-popup__image-button tour-popup__image">
                            <img src="/imgs/admin/navbarbackground.png" alt="Hình ảnh" class="tour-popup__image-placeholder">
                        </div>
                        <div class="tour-popup__image-button tour-popup__image">
                            <img src="/imgs/admin/navbarbackground.png" alt="Hình ảnh" class="tour-popup__image-placeholder">
                        </div>
                    </div>
                    <button type="button" class="tour-popup__image-button" id="addImageButton">
                        <i class="material-icons-outlined tour-popup__add-image-icon">add_photo_alternate</i>
                    </button>
                    <input type="file" class="tour-popup__hidden-input" id="imageInput" accept="image/*">
                </div>
            </div>
            <div class="tour-popup__form-group">
                <label for="tour-popup-description" class="tour-popup__label">Mô tả</label>
                <textarea id="tour-popup-description" class="tour-popup__textarea" placeholder="Nhập mô tả...">
1. Chinh phục núi LangBiang - nóc nhà Tây Nguyên 
2. Trang trại cún - Puppy Farm, điểm tham quan "hot" nhất hiện nay ( hơn 36 loài chó quý hiếm, hơn 100 cá thể chó ) 
3. Đồi hoa thạch thảo, xác pháo, cẩm tú cầu,... 
4. Trài nghiệm cảm giác hái dâu tây tại vườn ( tự túc ) 
5. Chùa Linh Phước - chùa Ve Chai với tượng Phật kết bằng hoa bất tử lớn nhất Việt Nam 
6. Ga xe lửa - ga cổ nhất Đông Dương 
7. Tham quan vườn : sen đá, dưa pepino + cà chua cherry,...
                </textarea>
            </div>
            <div class="tour-popup__form-group tour__form-group--submit">
                <button type="submit" class="tour-popup__submit-button">
                    <i class="material-icons">save</i>
                    Cập nhật
                </button>
                <button type="button" class="tour-popup__submit-button tour-popup__remove-submit-button" id="removeTourButton">
                  <i class="material-icons">delete_forever</i>
                    Xóa Tour
                </button>
            </div>
        </form>
    </div>
    {{> admin/deletePopup message="Bạn có muốn xóa Tour này không?"}}
</body>
