<html lang="vi">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>2Tour. {{pageTitle}}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/partials/customer/search-full.css">
    <link rel="stylesheet" href="/partials/customer/header.css">
    <link rel="stylesheet" href="/partials/customer/footer.css">
    <link rel="stylesheet" href="{{style}}">

</head>

<body>

    {{> customer/header }}

    {{{body}}}

    {{> customer/footer }}

    <script type="module" src="{{script}}"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>