<html lang="vi">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>2Tour. {{pageTitle}}</title>

    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/partials/admin/navbar.css">
    <link rel="stylesheet" href="/partials/admin/footer.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="{{style}}">

</head>

<body>
    <section class="container-fluid m-0 p-0 main d-flex">
        {{> admin/navbar }}
        <div class="w-80">
            {{> admin/header }}
            {{{body}}}
            {{> admin/footer }}
        </div>
    </section>


    <script type="module" src="{{script}}"></script>
    <script type="module" src="/partials/admin/navbar.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>