@import 'variables.scss';

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
/* -------------------------------------------- */
/* .formContainer {
  background-color: #fff;
  padding: ;
} */
.form-control:focus {
  box-shadow: 0 0 0 0.25rem #c8ede8;
}
.form-label {
  color: #087264;
  font-weight: 600;
}
.btn-primary {
  background-color: #087264;
  border: 1px solid #087264;
}
.forgot-password-txt {
  color: red !important;
}
.btn:hover {
  color: #fff;
  background-color: #058c7f;
  border-color: #058c7f;
}
.btn:disabled{
  background-color: #058c7f;
    opacity: 0.5;
}
.main {
  width: 100%;
  background-color: #058c7f;
}
