<div class="d-flex justify-content-between align-items-center w-100 py-2 ps-3 mb-4 bg-white box">
    <div class="mx-2 fw-bold fs-3">
        {{pageTitle}}
    </div>
    {{> admin/openMapButton}}
    <a class="header__left-div d-flex" href="#" id="header-logo">
        <img class="header__logo" src="/imgs/logo.webp" alt="2Tour - Hệ thống đặt Tour">
    </a>
</div>