<div class="w-20">
    <nav class="position-fixed w-20 bg-navbar min-vh-100 overflow-hidden p-4">
        <div class="user d-flex flex-column align-items-center">
            <div>
                <img src="/imgs/admin/2Touradmin.png" class="" alt="logo navbar">
            </div>
            <div class="user__avatar rounded-circle w-100 d-flex justify-content-center">
                <img src="/imgs/home/vietnam-flag.webp" class="user__avatar img-fluid" alt="user avatar">
            </div>
            <div class="fw-bold text-white my-1">
                <span>{{user_name}}</span>
            </div>
            <div class="user__role text-capitalize bg-white fst-italic rounded-pill py-1 px-2 my-1">
                {{user_role}}
            </div>
        </div>
        <div class="nav flex-column position-relative">
            <div class="position-relative">
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative active rounded-1"
                        aria-current="page" href="/admin/dashboard">
                        <i class="material-icons mx-2">
                            space_dashboard
                        </i>
                        <div class="mx-2">
                            Bảng điều khiển
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            flag
                        </i>
                        <div class="mx-2">
                            Tour du lịch
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            public
                        </i>
                        <div class="mx-2">
                            Địa điểm
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            local_mall
                        </i>
                        <div class="mx-2">
                            Booking
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            person
                        </i>
                        <div class="mx-2">
                            Nhân viên
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            groups
                        </i>
                        <div class="mx-2">
                            Khách hàng
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            star
                        </i>
                        <div class="mx-2">
                            Đánh giá
                        </div>
                    </a>
                </li>
                <hr class="border border-white border-2 opacity-100">
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            settings
                        </i>
                        <div class="mx-2">
                            Cài đặt
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link w-100 my-1 d-flex align-items-center p-1 position-relative rounded-1" aria-current="page"
                        href="#">
                        <i class="material-icons mx-2">
                            logout
                        </i>
                        <div class="mx-2" id="btn-logout">
                            Đăng xuất
                        </div>
                    </a>
                </li>
            </div>
        </div>
    </nav>
</div>