{{> customer/search-full }}

<main class="main-content">
    <section class="main-card">
        <h2 class="main-card__title main-card__title--blue">Ưu đãi hấp dẫn nhất hôm nay</h2>
        <p class="main-card__sub-title">Nhanh tay nhanh mắt. Đặt ngay kẻo lỡ!</p>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/imgs/home/phu-quoc.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/home/phu-quoc.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/imgs/home/phu-quoc.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="domestic-location main-card">
        <h2 class="main-card__title">Điểm đến yêu thích trong nước</h2>
        <p class="main-card__sub-title">Lên rừng xuống biển. Trọn vẹn Việt Nam</p>
        <div class="domestic-location__container">
            <a class="location__card location__card-row-1-1-col-1-2" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-1-2-col-3-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-2-1-col-1-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-2-1-col-2-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-3-2-col-1-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-3-1-col-2-2" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-4-1-col-2-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-4-1-col-3-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
        </div>
    </section>

    <section class="foreign-location main-card">
        <h2 class="main-card__title main-card__title--green">Điểm đến yêu thích nước ngoài</h2>
        <p class="main-card__sub-title">Vòng quanh thế giới. Bốn bể là nhà!</p>
        <div class="foreign-location__container">
            <a class="location__card location__card-row-1-1-col-1-2" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-1-1-col-3-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-2-1-col-1-1" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
            <a class="location__card location__card-row-2-1-col-2-2" href="#">
                <img class="domestic-location__card-img" src="/imgs/home/phu-quoc.webp" alt="Phú Quốc">
                <div class="domestic-location__card-description">
                    <h3 class="domestic-location__card-title domestic-location__card-text">Phú Quốc</h3>
                    <p class="domestic-location__card-sub-title domestic-location__card-text">123 Tour du lịch</p>
                </div>
            </a>
        </div>
    </section>
</main>